
{% extends "webappl/base.html" %}
{% load static %}

{% block title %}
    <title>Create an Account</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}


{% block content %}
Header
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="static/media/avatar.jpg" alt="" /></a>
            <h1><strong>Roommate Finder </strong>UMass Amherst<br />
            one place for all student housing needs<br />
            crafted by <a href="#">CODENAME</a>.</h1>
        </div>
    </header>

<!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Login in to continue <br />
                <!-- magna sed accumsan arcu neque. -->
            </h2>
            </header>
        </section>

    <!-- Two -->
            <section id="one">
                <form method="POST" class="form-group">
                    {{form}}
                    {% csrf_token %}
                    <!-- <button type="submit" class="btn btn-success">Register</button> -->
                    <br>
                    <ul class="actions">
                        <li><input type="submit" value="Login" /></li>
                    </ul>
                </form>
                <br><br>
                <p>Don't have an account? Let's get you started</p>
                <ul class="actions">
                    <li><a href="/register" class="button">Create Account</a></li>
                </ul>
            </section>
    </div>


<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.poptrox.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}