{% extends "webappl/base.html" %}
{% load static %}

{% block title %}
    <title>Create an Account</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="static/css/nav.css" />
    {% endblock %}


{% block content %}
    <header id="header">
        <div class="inner">
            <a href="/home_page" class="image avatar"><img src="{% static 'media/avatar.jpg}" alt="" /></a>
            <h1><strong>Roommate Finder </strong>UMass Amherst<br />
            one place for all student housing needs<br />
            crafted by <a href="">CODENAME</a>.</h1>
        </div>
    </header>

<!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            {% for contact in contact_list %}
                <img style="width:15em;" src="{{contact.recipientid.profile.profile_picture.url}}">
                <!-- <img src="{{contact.recipientid.profile.phno}}" -->
                <h3>{{contact.recipientid}}</h3>
                <p>phno : {{contact.recipientid.profile.phno}}<br>
                    email : {{contact.recipientid.email}}

                </p>
            {% endfor %}
            </ul>
        </section>

    <!-- Two -->
            <section id="two">
                
            </section>
    </div>



<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.poptrox.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}
