
{% extends "webappl/base.html" %}
{% load static %}

{% block title %}
    <title>Create an Account</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}


{% block content %}
    <header id="header">
        <div class="inner">
            <a href="/home_page" class="image avatar"><img src="{% static 'media/avatar.jpg}" alt="" /></a>
            <h1><strong>Roommate Finder </strong>UMass Amherst<br />
            A place to find potential roomates.<br />
            Crafted by CODENAME.</h1>
        </div>
    </header>

<!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <form method="POST" class="form-group" enctype="multipart/form-data">
                {{form}}
                {% csrf_token %}
                <!-- <button type="submit" class="btn btn-success">Register</button> -->
                <br>
                <ul class="actions">
                    <li><input type="submit" value="Update Information" /></li>
                </ul>
            </form>
            </ul>
        </section>

    <!-- Two -->
            <section id="two">
                
            </section>
    </div>

<!-- Scripts -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.poptrox.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}