{% extends "webappl/base.html" %}
{% block title %}
    <title>Roommate Finder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/nav.css" />
{% endblock %}
		
{% block content %}
<!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="static/media/umasslogo.png" alt="UMass Logo" /></a>
            <h1><strong>Roommate Finder </strong>UMass Amherst<br />
            A place to find potential roomates.<br />
            Crafted by CODENAME.</h1>
        </div>
    </header>

<!-- Main -->
    <div id="main">

        
        <!-- One -->
            <section id="one">
                <header class="major">
                    <h2>Welcome to Rommate Finder UMass Amherst</h2>
                </header>
                <p>This application was created for COMPSCI 520 by team CODENAME.</p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul> -->
            </section>
        
        {% if user.is_authenticated %}
        <!-- Two -->
        <section id="one">
        
            <h3>Development Team :</h3>
            <ul class="actions">
                <li>Noah Dixon</li>
                <li>Sijia Hao</li>
                <li>Dishank Jhaveri</li>
                <li>Anurati Bhosekar</li>
            </ul>
            <h3>Overview of the project </h3>
            <p>The intent of this project was to develop a roommate matching application for students, alumni, and faculty of UMass Amherst. The application allows UMass students to find compatible roommates and get their contact information. There currently exists a roommate matching application for UMass, however our application aims to make improvements over this application. We hope to improve the quality of roommate match results and also improve the UI.</p>
        </section>
            
        
        {% else %}
            <p>You are not currently signed in. Please sign in to continue accessing this application</p>
                <ul class="actions">
                    <li><a href="/login" class="button">Login</a></li>
                </ul>
        {% endif %}
        <!-- Three -->

    </div>

<!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.poptrox.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
{% endblock %}