{% extends "webappl/base.html" %}
{% block title %}
    <title>Roommate Finder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/nav.css" />
{% endblock %}
		
{% block content %}
<!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="static/media/avatar.jpg" alt="" /></a>
            <h1><strong>Roommate Finder </strong>UMass Amherst<br />
            one place for all student housing needs<br />
            crafted by <a href="#">CODENAME</a>.</h1>
        </div>
    </header>

<!-- Main -->
    <div id="main">

        
        <!-- One -->
            <section id="one">
                <header class="major">
                    <h2>Ipsum lorem dolor aliquam ante commodo<br />
                    magna sed accumsan arcu neque.</h2>
                </header>
                <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
                <!-- <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul> -->
            </section>
        
        {% if user.is_authenticated %}
        <!-- Two -->
            <section id="two">
                <h2>Recent Work</h2>
                <div class="row">
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/01.jpg" class="image fit thumb"><img src="static/media/thumbs/01.jpg" alt="" /></a>
                        <h3>Magna sed consequat tempus</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/02.jpg" class="image fit thumb"><img src="static/media/thumbs/02.jpg" alt="" /></a>
                        <h3>Ultricies lacinia interdum</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/03.jpg" class="image fit thumb"><img src="static/media/thumbs/03.jpg" alt="" /></a>
                        <h3>Tortor metus commodo</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/04.jpg" class="image fit thumb"><img src="static/media/thumbs/04.jpg" alt="" /></a>
                        <h3>Quam neque phasellus</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/05.jpg" class="image fit thumb"><img src="static/media/thumbs/05.jpg" alt="" /></a>
                        <h3>Nunc enim commodo aliquet</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                    <article class="col-6 col-12-xsmall work-item">
                        <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a>
                        <h3>Risus ornare lacinia</h3>
                        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                    </article>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Full Portfolio</a></li>
                </ul>
            </section>
        
        {% else %}
            <p>You are not currently signed in. Please sign in to continue accessing this application</p>
                <ul class="actions">
                    <li><a href="/login" class="button">Login</a></li>
                </ul>
        {% endif %}
        <!-- Three -->

    </div>

<!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design: <a href="#">CODENAME</a></li>
            </ul>
        </div>
    </footer>

<!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.poptrox.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
{% endblock %}