
{% extends "webappl/base.html" %}
{% load static %}

{% block title %}
    <title>Profile Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}

{% block content %}
    <header id="header">
        <div class="inner">
            <h1><strong>Roommate Finder </strong>UMass Amherst<br /><br>
                <section id="one">
                    <header class="major">
                        <h2>{{first_name}}  {{last_name}}<br /></h2>
                    </header>
                    <p>username : {{current_user}}<br>email : {{email}}</p>
                    <!-- <p><img src="{% static 'media/thumbs/01.jpg' %}"></p> -->
                    <p><img style="width:15em;" src="{{current_user.profile.profile_picture.url}}"></p>
                </section>
            
        </div>
    </header>

<!-- Main -->
    <div id="main">

        <!-- One -->
        

        <!-- Two -->
        <section id="two">
            <h2>Personal Information</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/01.jpg" class="image fit thumb"><img src="static/media/thumbs/01.jpg" alt="" /></a> -->
                    <h3>Phone Number</h3>
                    <p>{{phno}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/02.jpg" class="image fit thumb"><img src="static/media/thumbs/02.jpg" alt="" /></a> -->
                    <h3>Gender</h3>
                    <p>{{gender}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/03.jpg" class="image fit thumb"><img src="static/media/thumbs/03.jpg" alt="" /></a> -->
                    <h3>Level of Study</h3>
                    <p>{{level_of_study}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/04.jpg" class="image fit thumb"><img src="static/media/thumbs/04.jpg" alt="" /></a> -->
                    <h3>Year</h3>
                    <p>{{year}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/05.jpg" class="image fit thumb"><img src="static/media/thumbs/05.jpg" alt="" /></a> -->
                    <h3>College</h3>
                    <p>{{college}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Program</h3>
                    <p>{{program}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Sleep Habits</h3>
                    <p>{{sleep_habit}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Cleanliness</h3>
                    <p>{{cleanliness}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Social Habits</h3>
                    <p>{{social_habit}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Duration</h3>
                    <p>{{duration}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Start Session</h3>
                    <p>{{start_season}}</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <!-- <a href="static/media/fulls/06.jpg" class="image fit thumb"><img src="static/media/thumbs/06.jpg" alt="" /></a> -->
                    <h3>Housing</h3>
                    <p>{{housing}}</p>
                </article>
            </div>
            {% if user.username is current_user.username %}
            <ul class="actions">
                <li><a href="{%url 'edit_profile_page' %}" class="button">Edit Profile</a></li>
            </ul>
            {% else %}
            <ul class="actions">
                <li><a href="{% url 'contacts_with_pk' pk=current_user.pk %}" class="button">Request Contact</a></li>
            </ul>
            {% endif %}
        </section>

    </div>

<!-- Footer -->
    <!-- <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li><li>Design: <a href="#">CODENAME</a></li>
            </ul>
        </div>
    </footer> -->

<!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.poptrox.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
{% endblock %}